beautifulsoup4==4.10.0
geographiclib==1.52
geopy==2.2.0
lxml==4.8.0
matplotlib==3.5.1
multidict==5.2.0
numpy==1.21.5
pandas==1.1.5
Pillow==9.1.0
pycparser==2.21
pyparsing==3.0.7
PySocks==1.7.1
python-dateutil==2.8.2
python-socks==2.0.1
pytrends==4.8.0
pytz==2021.3
requests==2.26.0
transitions==0.8.11
urllib3==1.2
